# Clojure CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-clojure/ for more details
#

defaults: &defaults
  working_directory: ~/repo

version: 2
jobs:
  build:
    <<: *defaults
    docker:
      # specify the version you desire here
      - image: circleci/clojure:lein-2.7.1

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    environment:
      LEIN_ROOT: "true"
      # Customize the JVM maximum heap limit
      JVM_OPTS: -Xmx3200m

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "project.clj" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: lein deps

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "project.clj" }}

      # build jar
      - run: lein uberjar

      - run: mkdir -p artifact/target

      - run: echo 'export V=`cat project.clj | head -n 1 | grep -oE "\"(.+)+$" | tr -d \\"\"\\"`' >> $BASH_ENV

      - run: echo "export A=target/aggregate-sag-lambda-$V-standalone.jar" >> $BASH_ENV

      - run: cp $A artifact/target

      - run: cp sam.yaml artifact

      - run: echo "export V=$V;export JAR=$A" > artifact/version

      - persist_to_workspace:
          root: artifact
          paths:
            - sam.yaml
            - version
            - target/*

  deploy:
    <<: *defaults
    docker:
      - image: wilson208/circleci-awscli # mesosphere/aws-cli

    steps:
      - attach_workspace:
          at: /tmp/artifact

      # build stack
      - run: aws cloudformation package --template-file /tmp/artifact/sam.yaml --s3-bucket sl.ice.cf.packages --output-template-file packaged-template.yaml #--profile sandbox

      - run: cat /tmp/artifact/version >> $BASH_ENV

      #  - run: echo "export AGGR_SAG_LAMBDA_DEV_VERSION=$V" >> $BASH_ENV

      - run: echo "export S3URL=s3://dk.vurdst.ice.artifacts/aggregate-sag-lambda-$V.yaml" >> $BASH_ENV

      #    - run: echo 'export EXISTS=`aws s3 ls "s3://dk.vurdst.ice.artifacts/aggregate-sag-lambda-$AGGR_SAG_LAMBDA_DEV_VERSION.yaml"`' >> $BASH_ENV

      - run: "export EXISTS=`aws s3 ls $S3URL`" >> $BASH_ENV

      - run: env

      - run:
          command: |
            if [ "$EXISTS" != "None" ]; then
              echo "Version exists already"
              exit 1
            else
              exit 0
            fi

      - run: aws s3 cp packaged-template.yaml "s3://dk.vurdst.ice.artifacts/aggregate-sag-lambda-$AGGR_SAG_LAMBDA_DEV_VERSION.yaml"

      # deploy stack
      - run: aws cloudformation deploy --template-file packaged-template.yaml --stack-name aggrsag-dev --capabilities CAPABILITY_IAM --region eu-west-1 --parameter-overrides Stage=dev # --profile sandbox

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
